# General
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# Idea
.idea/

# SBT
project/boot
project/target
project/plugins/target
target
.target
.cache-main
.cache-tests

# Play
logs
RUNNING_PID
.g8
project/project/
